
body {
    background: #eee;
}

.wrapper {
    max-width: 400px;
    background: #fff;
    margin: 2rem auto;
    box-shadow: 0 0 2rem rgba(51,51,51, 0.2);
}   


.result__field {
    width: 98%;
    background: rgb(238, 237, 237);
    padding: 1rem;
    margin: 1%;
    min-height: 5rem;
}

.f-20 {
    font-size: 1.6rem;
}

.total {
    font-size: 1.8rem;
}